go 1.21.5

use (
	./01arrays
	./01conversion
	./01functions
	./01hello
	./01ifelse
	./01loops
	./01maps
	./01mytime
	./01pointers
	./01slices
	./01structs
	./01switchcase
	./01userinput
	./01variables
)
